*{ padding:0; margin:0;}
header{ display:block; width:100%; margin:0 auto; text-align:center;}
header h1{ font-family:Arial; font-size:40px; font-weight:bold;}
header #bot{ display:block; margin:20px auto; width:100px; padding:10px; background:#8f7a66; font-family:Arial; color:#fff; border-radius:10px; text-decoration:none;}
header #bot:hover{ background:#9f8b77;}
header p{ font-family:Arial; font-size:25px; margin:25px auto;}
#main{ width:460px;height:460px;padding:20px; margin:50px auto; background:#bbada0; border-radius:10px; position:relative;}
.main-box{ width:100px; height:100px; border-radius:6px; background:#ccc0b3; position:absolute;}
.number-cell{ border-radius:6px; font-family:Arial; font-weight:bold; font-size:30px; line-height:100px; text-align:center; position:absolute; color:#000;}
.over{ width:100%; height:100%; background:rgba(204,204,204,0.5); position:absolute; top:0; left:0; display:none;}
.over-frame{ width:500px; height:200px; margin:0 auto; margin-top:20%; font-size:90px; text-align:center; line-height:200px; cursor:pointer;}